<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://194.87.214.229/TechCalDB</property>
        <property name="hibernate.connection.username">a.chuchalin</property>
        <property name="hibernate.connection.password">Achprocedure1@99.2</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">500</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.jdbc.batch_size">10</property>
        <property name="hibernate.jdbc.fetch_size">100</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="hibernate.connection.release_mode">after_transaction</property>
        <property name="hibernate.connection.handling_mode">DELAYED_ACQUISITION_AND_RELEASE_AFTER_TRANSACTION</property>
        <property name="hibernate.current_session_context_class">thread</property>
        
        <mapping class="ru.chuchalin.tech.model.City" />     
    </session-factory>
</hibernate-configuration>